@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Titillium Web', sans-serif;
}

.jumper {
  animation: jump 0.3s;
}

@keyframes jump {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
